In [2]:
import pandas as pd

In [34]:
precip_df = pd.read_csv("data/weather/precip_msp_airport_1939.csv")
precip_df.head()

,STATION,NAME,DATE,PRCP,SNOW,SNWD
0,USW00014922,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",1938-04-09,0.0,0.0,0.0
1,USW00014922,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",1938-04-10,0.0,0.0,0.0
2,USW00014922,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",1938-04-11,0.0,0.0,0.0
3,USW00014922,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",1938-04-12,0.0,0.0,0.0
4,USW00014922,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",1938-04-13,0.0,0.0,0.0

In [35]:
def date_reformat(date):
    new_date = date.replace('-', '')
    
    return new_date

In [36]:
date_list = list(precip_df.DATE)
for i in range(len(date_list)):
    date_list[i] = date_reformat(date_list[i])

In [37]:
precip_df = precip_df[['DATE', 'PRCP']]
precip_df.columns = ['date','precip']
precip_df.head()

         date  precip
0  1938-04-09     0.0
1  1938-04-10     0.0
2  1938-04-11     0.0
3  1938-04-12     0.0
4  1938-04-13     0.0

In [ ]:
transform_df['date'] = date_list
transform_df.head()

In [28]:
transform_df.to_csv("data/weather/transformed_msp_precip.csv", index=False)