# Lake Levels ETL
## Data Scraping, Munging
---
### Outputs CSV files to be read-in by an app running flask

In [53]:
import pandas as pd
from flask import jsonify

In [35]:
# read in csv file
lake_id_df = pd.read_csv("data/water-level/lakes/MCWD_Lake_ID.csv")

lake_id_df.head()

  LAKE_NAME   LAKE_ID   latitude  longitude
0  Hiawatha  27001800  44.921034 -93.236141
1    Mother  27002300  44.893298 -93.241013
2   Nokomis  27001900  44.908634 -93.242187
3      Taft  27068300  44.892951 -93.249752
4    Legion  27002400  44.885760 -93.262240

In [36]:
# make col names lowercase
lake_id_df.columns = ['name', 'id', 'lat', 'lng']

# drop duplicate ids
lake_id_df.drop_duplicates(subset='id', inplace=True)

# set 'lake_id' as index
lake_id_df.set_index('id', drop=False, inplace=True)

# preview
lake_id_df.head()

              name        id        lat        lng
id
27001800  Hiawatha  27001800  44.921034 -93.236141
27002300    Mother  27002300  44.893298 -93.241013
27001900   Nokomis  27001900  44.908634 -93.242187
27068300      Taft  27068300  44.892951 -93.249752
27002400    Legion  27002400  44.885760 -93.262240

In [37]:
# function to convert all lake data (df) for a given lake id into dict format
def lake_to_dict(lake_id, df):

    # grab all measurements for lake
    elevations = list(df.loc[df.id == lake_id].elevation)
    read_dates = list(df.loc[df.id == lake_id].read_date)
    datum_adjs = list(df.loc[df.id == lake_id].datum_adj)
    
    measurements = list(zip(elevations, read_dates, datum_adjs))

    measurement_keys = ['elevation', 'read_date', 'datum_adj']
    
    # make measurements json format
    measurements_json = []
    for i in range(len(measurements)):
        measurement_dict = dict(zip(measurement_keys, measurements[i]))
        measurements_json.append(measurement_dict)

    # create lake_dict using measurements_json
    lake_dict = {
        'name': lake_id_df['name'][lake_id],
        'id': lake_id,
        'location': {
            'lat': lake_id_df['lat'][lake_id],
            'lng': lake_id_df['lng'][lake_id]
        },
        'measurements': measurements_json
    }
    
    return lake_dict

In [38]:
# base url for scraping lake-level data
base_url = "https://files.dnr.state.mn.us/cgi-bin/lk_levels_dump.pl?format=csv&id="

# variable to track progress of loop
lake_count = 0

# store ids for lakes that failed and succeeded to be inserted
failed = []
successful = []

# list to store all dfs read-in to concatenate later
df_list = []

# loop through index of lake_id_df (lake ids are the index)
for lake_id in lake_id_df.index:
    
    lake_count += 1
    print(f"Getting data for lake {lake_count} of {len(lake_id_df.index)}.......")
    print(f"Lake id: {lake_id}.........")
    
    
    try:
        # read data from url into df
        df = pd.read_csv(f"{base_url}{lake_id}")

        # change column names to lowercase
        df.columns = map(str.lower, df.columns)

        # rename 'chr_id' to 'id'
        df.rename(columns={"chr_id": "id"}, inplace=True)

        # drop duplicate date entries
        df.drop_duplicates(subset='read_date', inplace=True)
        
        if len(df['id']) >= 10:
            
            df_list.append(df.copy())

        print("........................Success")
        print("------------------------------------------------------------------\n\n")
        successful.append(lake_id)
        
    except:
        print(".......................Process failed")
        print("xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\n\n")
        failed.append(lake_id)

Getting data for lake 1 of 141.......
Lake id: 27001800.........
........................Success
------------------------------------------------------------------


Getting data for lake 2 of 141.......
Lake id: 27002300.........
........................Success
------------------------------------------------------------------


Getting data for lake 3 of 141.......
Lake id: 27001900.........
........................Success
------------------------------------------------------------------


Getting data for lake 4 of 141.......
Lake id: 27068300.........
........................Success
------------------------------------------------------------------


Getting data for lake 5 of 141.......
Lake id: 27002400.........
........................Success
------------------------------------------------------------------


Getting data for lake 6 of 141.......
Lake id: 27002200.........
........................Success
------------------------------------------------------------------


Getting data for lake 7 of 141.......
Lake id: 27068400.........
........................Success
------------------------------------------------------------------


Getting data for lake 8 of 141.......
Lake id: 27068500.........
........................Success
------------------------------------------------------------------


Getting data for lake 9 of 141.......
Lake id: 27001600.........
........................Success
------------------------------------------------------------------


Getting data for lake 10 of 141.......
Lake id: 27001700.........
........................Success
------------------------------------------------------------------


Getting data for lake 11 of 141.......
Lake id: 27004000.........
........................Success
------------------------------------------------------------------


Getting data for lake 12 of 141.......
Lake id: 27003100.........
........................Success
------------------------------------------------------------------


Getting data for lake 13 of 141.......
Lake id: 27003900.........
........................Success
------------------------------------------------------------------


Getting data for lake 14 of 141.......
Lake id: 27003800.........
........................Success
------------------------------------------------------------------


Getting data for lake 15 of 141.......
Lake id: 27067500.........
........................Success
------------------------------------------------------------------


Getting data for lake 16 of 141.......
Lake id: 27001500.........
........................Success
------------------------------------------------------------------


Getting data for lake 17 of 141.......
Lake id: 27065600.........
........................Success
------------------------------------------------------------------


Getting data for lake 18 of 141.......
Lake id: 27066400.........
........................Success
------------------------------------------------------------------


Getting data for lake 19 of 141.......
Lake id: 27004100.........
........................Success
------------------------------------------------------------------


Getting data for lake 20 of 141.......
Lake id: 27067000.........
........................Success
------------------------------------------------------------------


Getting data for lake 21 of 141.......
Lake id: 27066900.........
........................Success
------------------------------------------------------------------


Getting data for lake 22 of 141.......
Lake id: 27005400.........
........................Success
------------------------------------------------------------------


Getting data for lake 23 of 141.......
Lake id: 27066100.........
........................Success
------------------------------------------------------------------


Getting data for lake 24 of 141.......
Lake id: 27071000.........
........................Success
------------------------------------------------------------------


Getting data for lake 25 of 141.......
Lake id: 27005100.........
........................Success
------------------------------------------------------------------


Getting data for lake 26 of 141.......
Lake id: 27077900.........
........................Success
------------------------------------------------------------------


Getting data for lake 27 of 141.......
Lake id: 27071400.........
........................Success
------------------------------------------------------------------


Getting data for lake 28 of 141.......
Lake id: 27005300.........
........................Success
------------------------------------------------------------------


Getting data for lake 29 of 141.......
Lake id: 27005200.........
........................Success
------------------------------------------------------------------


Getting data for lake 30 of 141.......
Lake id: 27071300.........
........................Success
------------------------------------------------------------------


Getting data for lake 31 of 141.......
Lake id: 27008400.........
........................Success
------------------------------------------------------------------


Getting data for lake 32 of 141.......
Lake id: 27008200.........
........................Success
------------------------------------------------------------------


Getting data for lake 33 of 141.......
Lake id: 27077100.........
........................Success
------------------------------------------------------------------


Getting data for lake 34 of 141.......
Lake id: 27075100.........
........................Success
------------------------------------------------------------------


Getting data for lake 35 of 141.......
Lake id: 27075000.........
........................Success
------------------------------------------------------------------


Getting data for lake 36 of 141.......
Lake id: 27074700.........
........................Success
------------------------------------------------------------------


Getting data for lake 37 of 141.......
Lake id: 27073900.........
........................Success
------------------------------------------------------------------


Getting data for lake 38 of 141.......
Lake id: 27013300.........
........................Success
------------------------------------------------------------------


Getting data for lake 39 of 141.......
Lake id: 27074600.........
........................Success
------------------------------------------------------------------


Getting data for lake 40 of 141.......
Lake id: 27068701.........
........................Success
------------------------------------------------------------------


Getting data for lake 41 of 141.......
Lake id: 27013301.........
........................Success
------------------------------------------------------------------


Getting data for lake 42 of 141.......
Lake id: 27008500.........
........................Success
------------------------------------------------------------------


Getting data for lake 43 of 141.......
Lake id: 99001038.........
........................Success
------------------------------------------------------------------


Getting data for lake 44 of 141.......
Lake id: 27009500.........
........................Success
------------------------------------------------------------------


Getting data for lake 45 of 141.......
Lake id: 27010800.........
........................Success
------------------------------------------------------------------


Getting data for lake 46 of 141.......
Lake id: 27046800.........
........................Success
------------------------------------------------------------------


Getting data for lake 47 of 141.......
Lake id: 27008600.........
........................Success
------------------------------------------------------------------


Getting data for lake 48 of 141.......
Lake id: 27082200.........
........................Success
------------------------------------------------------------------


Getting data for lake 49 of 141.......
Lake id: 27082400.........
........................Success
------------------------------------------------------------------


Getting data for lake 50 of 141.......
Lake id: 27013302.........

........................Success
------------------------------------------------------------------


Getting data for lake 51 of 141.......
Lake id: 27010900.........
........................Success
------------------------------------------------------------------


Getting data for lake 52 of 141.......
Lake id: 27008700.........
........................Success
------------------------------------------------------------------


Getting data for lake 53 of 141.......
Lake id: 27087000.........
........................Success
------------------------------------------------------------------


Getting data for lake 54 of 141.......
Lake id: 27013400.........
........................Success
------------------------------------------------------------------


Getting data for lake 55 of 141.......
Lake id: 27013303.........
........................Success
------------------------------------------------------------------


Getting data for lake 56 of 141.......
Lake id: 27087600.........
........................Success
------------------------------------------------------------------


Getting data for lake 57 of 141.......
Lake id: 27015800.........
........................Success
------------------------------------------------------------------


Getting data for lake 58 of 141.......
Lake id: 27015900.........
........................Success
------------------------------------------------------------------


Getting data for lake 59 of 141.......
Lake id: 27013800.........
........................Success
------------------------------------------------------------------


Getting data for lake 60 of 141.......
Lake id: 27087700.........
........................Success
------------------------------------------------------------------


Getting data for lake 61 of 141.......
Lake id: 27014200.........
........................Success
------------------------------------------------------------------


Getting data for lake 62 of 141.......
Lake id: 27013304.........
........................Success
------------------------------------------------------------------


Getting data for lake 63 of 141.......
Lake id: 27016000.........
........................Success
------------------------------------------------------------------


Getting data for lake 64 of 141.......
Lake id: 27014100.........
........................Success
------------------------------------------------------------------


Getting data for lake 65 of 141.......
Lake id: 27014400.........
........................Success
------------------------------------------------------------------


Getting data for lake 66 of 141.......
Lake id: 27089600.........
........................Success
------------------------------------------------------------------


Getting data for lake 67 of 141.......
Lake id: 27015700.........
........................Success
------------------------------------------------------------------


Getting data for lake 68 of 141.......
Lake id: 27089800.........
........................Success
------------------------------------------------------------------


Getting data for lake 69 of 141.......
Lake id: 27016100.........
........................Success
------------------------------------------------------------------


Getting data for lake 70 of 141.......
Lake id: 27014300.........
........................Success
------------------------------------------------------------------


Getting data for lake 71 of 141.......
Lake id: 27014000.........
........................Success
------------------------------------------------------------------


Getting data for lake 72 of 141.......
Lake id: 27090000.........
........................Success
------------------------------------------------------------------


Getting data for lake 73 of 141.......
Lake id: 27015600.........
........................Success
------------------------------------------------------------------


Getting data for lake 74 of 141.......
Lake id: 27015500.........
........................Success
------------------------------------------------------------------


Getting data for lake 75 of 141.......
Lake id: 27090800.........
........................Success
------------------------------------------------------------------


Getting data for lake 76 of 141.......
Lake id: 27015000.........
........................Success
------------------------------------------------------------------


Getting data for lake 77 of 141.......
Lake id: 27015100.........
........................Success
------------------------------------------------------------------


Getting data for lake 78 of 141.......
Lake id: 27013310.........
........................Success
------------------------------------------------------------------


Getting data for lake 79 of 141.......
Lake id: 27091200.........
........................Success
------------------------------------------------------------------


Getting data for lake 80 of 141.......
Lake id: 27013305.........
........................Success
------------------------------------------------------------------


Getting data for lake 81 of 141.......
Lake id: 27013311.........
........................Success
------------------------------------------------------------------


Getting data for lake 82 of 141.......
Lake id: 27016200.........
........................Success
------------------------------------------------------------------


Getting data for lake 83 of 141.......
Lake id: 10000900.........
........................Success
------------------------------------------------------------------


Getting data for lake 84 of 141.......
Lake id: 99001005.........
........................Success
------------------------------------------------------------------


Getting data for lake 85 of 141.......
Lake id: 27013312.........
........................Success
------------------------------------------------------------------


Getting data for lake 86 of 141.......
Lake id: 27051800.........
........................Success
------------------------------------------------------------------


Getting data for lake 87 of 141.......
Lake id: 27013313.........
........................Success
------------------------------------------------------------------


Getting data for lake 88 of 141.......
Lake id: 27052200.........
........................Success
------------------------------------------------------------------


Getting data for lake 89 of 141.......
Lake id: 10020600.........
........................Success
------------------------------------------------------------------


Getting data for lake 90 of 141.......
Lake id: 10001100.........
........................Success
------------------------------------------------------------------


Getting data for lake 91 of 141.......
Lake id: 27015400.........
........................Success
------------------------------------------------------------------


Getting data for lake 92 of 141.......
Lake id: 10001500.........
........................Success
------------------------------------------------------------------


Getting data for lake 93 of 141.......
Lake id: 27013900.........
........................Success
------------------------------------------------------------------


Getting data for lake 94 of 141.......
Lake id: 10001000.........
........................Success
------------------------------------------------------------------


Getting data for lake 95 of 141.......
Lake id: 27013306.........
........................Success
------------------------------------------------------------------


Getting data for lake 96 of 141.......
Lake id: 27096500.........
........................Success
------------------------------------------------------------------


Getting data for lake 97 of 141.......
Lake id: 27094500.........
........................Success
------------------------------------------------------------------


Getting data for lake 98 of 141.......
Lake id: 27040800.........
........................Success
------------------------------------------------------------------


Getting data for lake 99 of 141.......
Lake id: 99000999.........
........................Success
------------------------------------------------------------------


Getting data for lake 100 of 141.......
Lake id: 10001800.........

........................Success
------------------------------------------------------------------


Getting data for lake 101 of 141.......
Lake id: 27094800.........
........................Success
------------------------------------------------------------------


Getting data for lake 102 of 141.......
Lake id: 27013315.........
........................Success
------------------------------------------------------------------


Getting data for lake 103 of 141.......
Lake id: 27013314.........
........................Success
------------------------------------------------------------------


Getting data for lake 104 of 141.......
Lake id: 27094700.........
........................Success
------------------------------------------------------------------


Getting data for lake 105 of 141.......
Lake id: 10004500.........
........................Success
------------------------------------------------------------------


Getting data for lake 106 of 141.......
Lake id: 10004100.........
........................Success
------------------------------------------------------------------


Getting data for lake 107 of 141.......
Lake id: 10020001.........
........................Success
------------------------------------------------------------------


Getting data for lake 108 of 141.......
Lake id: 10004600.........
........................Success
------------------------------------------------------------------


Getting data for lake 109 of 141.......
Lake id: 10020002.........
........................Success
------------------------------------------------------------------


Getting data for lake 110 of 141.......
Lake id: 10004700.........
........................Success
------------------------------------------------------------------


Getting data for lake 111 of 141.......
Lake id: 10004800.........
........................Success
------------------------------------------------------------------


Getting data for lake 112 of 141.......
Lake id: 27018200.........
........................Success
------------------------------------------------------------------


Getting data for lake 113 of 141.......
Lake id: 10005600.........
........................Success
------------------------------------------------------------------


Getting data for lake 114 of 141.......
Lake id: 10005400.........
........................Success
------------------------------------------------------------------


Getting data for lake 115 of 141.......
Lake id: 10004400.........
........................Success
------------------------------------------------------------------


Getting data for lake 116 of 141.......
Lake id: 27109600.........
........................Success
------------------------------------------------------------------


Getting data for lake 117 of 141.......
Lake id: 27018100.........
........................Success
------------------------------------------------------------------


Getting data for lake 118 of 141.......
Lake id: 10013400.........
........................Success
------------------------------------------------------------------


Getting data for lake 119 of 141.......
Lake id: 27095200.........
........................Success
------------------------------------------------------------------


Getting data for lake 120 of 141.......
Lake id: 10013500.........
........................Success
------------------------------------------------------------------


Getting data for lake 121 of 141.......
Lake id: 10005000.........
........................Success
------------------------------------------------------------------


Getting data for lake 122 of 141.......
Lake id: 27013309.........
........................Success
------------------------------------------------------------------


Getting data for lake 123 of 141.......
Lake id: 27018500.........
........................Success
------------------------------------------------------------------


Getting data for lake 124 of 141.......
Lake id: 10004401.........
........................Success
------------------------------------------------------------------


Getting data for lake 125 of 141.......
Lake id: 10005300.........
........................Success
------------------------------------------------------------------


Getting data for lake 126 of 141.......
Lake id: 10013800.........
........................Success
------------------------------------------------------------------


Getting data for lake 127 of 141.......
Lake id: 10019100.........
........................Success
------------------------------------------------------------------


Getting data for lake 128 of 141.......
Lake id: 27018300.........
........................Success
------------------------------------------------------------------


Getting data for lake 129 of 141.......
Lake id: 10004900.........
........................Success
------------------------------------------------------------------


Getting data for lake 130 of 141.......
Lake id: 10013900.........
........................Success
------------------------------------------------------------------


Getting data for lake 131 of 141.......
Lake id: 27095800.........
........................Success
------------------------------------------------------------------


Getting data for lake 132 of 141.......
Lake id: 27093900.........
........................Success
------------------------------------------------------------------


Getting data for lake 133 of 141.......
Lake id: 27095700.........
........................Success
------------------------------------------------------------------


Getting data for lake 134 of 141.......
Lake id: 10014000.........
........................Success
------------------------------------------------------------------


Getting data for lake 135 of 141.......
Lake id: 10004300.........
........................Success
------------------------------------------------------------------


Getting data for lake 136 of 141.......
Lake id: 10014100.........
........................Success
------------------------------------------------------------------


Getting data for lake 137 of 141.......
Lake id: 10005100.........
........................Success
------------------------------------------------------------------


Getting data for lake 138 of 141.......
Lake id: 10004200.........
........................Success
------------------------------------------------------------------


Getting data for lake 139 of 141.......
Lake id: 10019000.........
........................Success
------------------------------------------------------------------


Getting data for lake 140 of 141.......
Lake id: 27018600.........
........................Success
------------------------------------------------------------------


Getting data for lake 141 of 141.......
Lake id: 10014300.........
........................Success
------------------------------------------------------------------

In [39]:
# concatenate data retrieved into new df
lake_levels_df = pd.concat(df_list)
lake_levels_df.head()

         id  elevation   read_date datum_adj
0  27001800     811.40  1926-04-15   NGVD 29
1  27001800     815.35  1926-08-05   NGVD 29
2  27001800     812.72  1927-03-29   NGVD 29
3  27001800     813.04  1927-11-30   NGVD 29
4  27001800     814.50  1928-04-12   NGVD 29

In [40]:
# remove all data for lakes with less than 10 records

# empty list for storing ids of dropped lakes
dropped = []

print("Dropping lakes with fewer then 10 measurements....")
for lake_id in lake_id_df.index:
    
    # drop lakes with less than 10 measurements
    if len(lake_levels_df.loc[lake_levels_df['id'] == lake_id]['id']) < 10:
        lake_levels_df.drop(lake_levels_df[lake_levels_df['id'] == lake_id].index, inplace=True)
        dropped.append(lake_id)

print(f"Number of laked dropped: {len(dropped)}.")

# reset index
lake_levels_df = lake_levels_df.reset_index(drop=True)
lake_levels_df.head()

Dropping lakes with fewer then 10 measurements....
Number of laked dropped: 100.

         id  elevation   read_date datum_adj
0  27001800     811.40  1926-04-15   NGVD 29
1  27001800     815.35  1926-08-05   NGVD 29
2  27001800     812.72  1927-03-29   NGVD 29
3  27001800     813.04  1927-11-30   NGVD 29
4  27001800     814.50  1928-04-12   NGVD 29

In [41]:
# remove same lakes from lake_id_df
for lake_id in dropped:
    lake_id_df.drop(labels=lake_id, inplace=True)

In [42]:
lake_id_df.count()

name    41
id      41
lat     41
lng     41
dtype: int64

In [33]:
# write dataframes to csv's
lake_levels_df.to_csv("resources/scraped_lake_measurements.csv", index=False)
lake_id_df.to_csv("resources/lake_info_transformed.csv", index=True)

In [72]:
# format all lake data as JSON

# list of included lake_ids to iterate through
lake_id_list = lake_levels_df.groupby('id').all().index

# empty list for json format
lakes_json = []

# loop through included lake_ids
for lake_id in lake_id_list:
    lake_dict = lake_to_dict(lake_id, lake_levels_df)
    lakes_json.append(lake_dict)

In [76]:
# create list of lake names
lake_list = []

for id in lake_id_list:
    lake_list.append(lake_id_df['name'][id])

In [77]:
lake_dict = {}

for i in range(len(lake_list)):
    lake_dict[lake_list[i]] = lakes_json[i]

In [75]:
df = pd.read_csv("data/water-level/streams/CLO01_2017-2018_TrollData.csv")
df['id'] = 'CLO01'
df.head()

       Date         Time Stage [ft]            Quality     id
0  4/5/2017   9:24:00 AM        ---            missing  CLO01
1  4/5/2017   9:40:00 AM     944.73      120 (Suspect)  CLO01
2  4/5/2017   9:55:00 AM     944.73  120 (Suspect), ed  CLO01
3  4/5/2017  10:10:00 AM     944.74  120 (Suspect), ed  CLO01
4  4/5/2017  10:25:00 AM     944.74  120 (Suspect), ed  CLO01

In [84]:
creek_ids = ['CGL01', 'CLO01', 'CLO08', 'CLO09', 'CMH01', 'CPA01']

creek_df_list = []

for creek in creek_ids:
    df = pd.read_csv(f"data/water-level/streams/{creek}_2017-2018_TrollData.csv")
    df['id'] = creek
    
    creek_df_list.append(df)
    
creek_data_df = pd.concat(creek_df_list)
creek_data_df.dropna(how='any', inplace=True)
creek_data_df.head()

       Date        Time Stage [ft]        Quality     id
0  4/7/2017  8:51:00 AM      943.9  200 (Unknown)  CGL01
1  4/7/2017  9:06:00 AM     943.91  200 (Unknown)  CGL01
2  4/7/2017  9:21:00 AM     943.92  200 (Unknown)  CGL01
3  4/7/2017  9:36:00 AM      943.9  200 (Unknown)  CGL01
4  4/7/2017  9:51:00 AM     943.91  200 (Unknown)  CGL01

In [85]:
creek_data_df = creek_data_df[['Date', 'Time', 'id', 'Stage [ft]']]

creek_data_df.columns = ['date', 'time', 'id', 'elevation']
creek_data_df.head()

       date        time     id elevation
0  4/7/2017  8:51:00 AM  CGL01     943.9
1  4/7/2017  9:06:00 AM  CGL01    943.91
2  4/7/2017  9:21:00 AM  CGL01    943.92
3  4/7/2017  9:36:00 AM  CGL01     943.9
4  4/7/2017  9:51:00 AM  CGL01    943.91

In [100]:
cl_df = creek_data_df[creek_data_df['elevation'] != ' ---']
cl_df.reset_index(drop=True, inplace=True)

In [101]:
cl_df.elevation = cl_df.elevation.astype(float)

C:\Users\Jackmarius\Anaconda3\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [114]:
# write out csv of dataframe with all creek levels
cl_df.to_csv("resources/all_creek_levels.csv", index=False)

In [115]:
test_df = pd.read_csv("resources/all_creek_levels.csv")

this_df = test_df[test_df['id'] == 'CGL01']

In [121]:
new_df = this_df.groupby('date').mean().reset_index(drop=False)
new_df['id'] = 'id'

In [122]:
new_df

           date   elevation  id
0     10/1/2017  944.014792  id
1     10/1/2018  944.260312  id
2    10/10/2017  944.720625  id
3    10/10/2018  944.364896  id
4    10/11/2017  944.641562  id
5    10/11/2018  944.405208  id
6    10/12/2017  944.564375  id
7    10/12/2018  944.394792  id
8    10/13/2017  944.494792  id
9    10/13/2018  944.369583  id
10   10/14/2017  944.444583  id
11   10/14/2018  944.343229  id
12   10/15/2017  944.439792  id
13   10/15/2018  944.313437  id
14   10/16/2017  944.391042  id
15   10/16/2018  944.277604  id
16   10/17/2017  944.349167  id
17   10/17/2018  944.245000  id
18   10/18/2017  944.312292  id
19   10/18/2018  944.210729  id
20   10/19/2017  944.274375  id
21   10/19/2018  944.186562  id
22    10/2/2017  944.143750  id
23    10/2/2018  944.238958  id
24   10/20/2017  944.234792  id
25   10/20/2018  944.156979  id
26   10/21/2017  944.236250  id
27   10/21/2018  944.125729  id
28   10/22/2017  944.236354  id
29   10/22/2018  944.103542  id
..          ...         ...  ..
354   9/23/2017  943.919062  id
355   9/23/2018  944.659271  id
356   9/24/2017  943.909896  id
357   9/24/2018  944.585313  id
358   9/25/2017  943.970729  id
359   9/25/2018  944.541458  id
360   9/26/2017  943.998021  id
361   9/26/2018  944.478958  id
362   9/27/2017  943.994792  id
363   9/27/2018  944.424062  id
364   9/28/2017  943.989271  id
365   9/28/2018  944.375104  id
366   9/29/2017  943.991771  id
367   9/29/2018  944.327604  id
368    9/3/2017  944.237396  id
369    9/3/2018  943.821875  id
370   9/30/2017  943.986667  id
371   9/30/2018  944.285938  id
372    9/4/2017  944.208750  id
373    9/4/2018  943.859375  id
374    9/5/2017  944.185000  id
375    9/5/2018  943.941979  id
376    9/6/2017  944.141875  id
377    9/6/2018  943.939583  id
378    9/7/2017  944.100833  id
379    9/7/2018  943.926042  id
380    9/8/2017  944.071354  id
381    9/8/2018  943.917396  id
382    9/9/2017  944.040104  id
383    9/9/2018  943.907292  id

[384 rows x 3 columns]